@font-face {
    font-family: 'MyFont';
    src: url('../Lato/Lato-Regular.ttf') format('ttf'),
      url('../Lato/Lato-Light.ttf') format('ttf'),
      url('../Lato/Lato-Thin.ttf') format('ttf'),
      url('../Lato/Lato-Black.ttf') format('ttf'),
      url('../Lato/Lato-Black.ttf') format('ttf');

    font-style: normal;
  }

:root {
    /* primary color */
    --primary-color-darker: #001537;
    --primary-color-dark: #001c49;
    --primary-color: #00235B;
    --primary-color-light: #334f7c;
    --primary-color-lighter: #667b9d;


    /* secondary colors */
    --secondary-color-darker: #99854f;
    --secondary-color-dark: #ccb169;
    --secondary-color: #FFDD83;
    --secondary-color-light: #ffe49c;
    --secondary-color-lighter: #ffebb5; 


    --third-color-dark: #7ab2ab;
    --third-color: #98DFD6;
    --third-color-light: #ade5de;

    --white-like-color: #ccd3de;
    --black-like-color: #000e24;

    --black-color: #000;
    --white-color: #fff;
    --red-color-light: #e84646;
    --red-color: #E21818;
    --red-color-dark: #9e1111;
    --green-color-dark: #427451;
    --green-color: #539165;
    --green-color-light: #75a784;


    /* fonts */
    --small-font: 1rem;
    --regular-font: 1.4rem;
    --medium-font: 1.9rem;
    --big-font: 2.8rem;
    --large-font: 3.9rem;
    --very-large-font: 5.65rem;

}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'MyFont';

    /* overflow-y: hidden; */
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;

}

.heading-primary {
    font-weight: 900;
    font-size: var(--very-large-font);
    margin-left: 2rem;

    display: inline-block;
    border-bottom: 2px solid var(--primary-color-lighter);
}

.heading-secondary {
    font-weight: 900;
    font-size: var(--large-font);
    padding: 1rem 0;
    color: var(--primary-color-dark);
    font-weight: 900;

    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.heading-tertiary {
    font-weight: 900;
    font-size: var(--large-font);
    margin-bottom: 1rem;

    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-color-lighter);
}

