/* header */

.header {
    height: 10rem;
    grid-row: 1;
    grid-column: 1/-1;

    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    z-index: 2;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
}

.header > * {
    color: var(--secondary-color);
}

/* aside  */

.aside {
    grid-row: 2;
    grid-column: 1/2;
    width: 30rem;
    background-color: var(--primary-color-light);
    color: var(--secondary-color-dark);
    z-index: 1;
}

.nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    list-style: none;
}

.nav li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav img {
    stroke: white;
}

ul > * {
    font-size: var(--medium-font);
}

ul li {
    padding: 1rem;
    border-radius: 10px;
}

ul li:hover {
    background-color: var(--primary-color-dark);
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.form-add-project.show {
    display: flex;
    pointer-events: auto;
    visibility: visible;
    flex-direction: column;
    gap: 1rem;
}

.form-add-project {
    display: none;
    pointer-events: none;
    visibility: hidden;
}

.form-add-project input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.form-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.form-buttons > * {
    flex: 1;
    border: none;
    font-size: var(--medium-font);
    border-radius: 5px;
    color: var(--white-color);
    font-weight: 900;
    padding: 0.5rem 0;
}

.btn-project-agree {
    background-color: var(--green-color);
}

.btn-project-decline {
    background-color: var(--red-color);
}

.btn-project-agree:hover {
    background-color: var(--green-color-dark);
}

.btn-project-decline:hover {
    background-color: var(--red-color-dark);
}

.btn-add-project,
.btn-add-project.show,
.btn-add-task {

    
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color-dark);
    cursor: pointer;


    color: inherit;
    font-weight: 900;

    transition: 0.3s all;
}

.btn-add-project.show {
    display: block;
    pointer-events: auto;
    visibility: visible;
}

.btn-add-project {
    display: none;
    pointer-events: none;
    visibility: hidden;
}

.btn-add-project:hover,
.btn-add-task:hover {
    transform: scale(1.05);
    background-color: var(--primary-color-dark);
    color: var(--secondary-color);

    box-shadow: 0 1px 30px 5px rgba(0, 0, 0, 0.137);
}

.btn-add-project:active,
.btn-add-task:active{
    transform: scale(0.98);
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.237);
}

/* main */

.main {
    grid-row: 2/3;
    grid-column: 2/-1;
    background-color: var(--white-like-color);


}

.main .container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 2rem;
    color: var(--black-like-color);

}

.container .task {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 0.5rem 3rem;
    border-radius: 10px;

    font-size: var(--medium-font);
    margin-bottom: 2rem;
    
    /* transition: 0.5s all; */
}

.container .task:hover {
    background-color: var(--primary-color-lighter);
    color: var(--secondary-color-dark);
}

.task-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-title {
    font-size: var(--big-font);
    color: var(--primary-color-dark);
    margin-bottom: 5px;
}

.task-date {
    margin-left: auto;
}


.remove-btn {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--red-color-dark);

    border: none;
    border-radius: 30px;

    transition: 0.5s all;
}

.remove-btn::before {
    content: 'x';
    position: absolute;
    font-weight: 900;
    font-size: var(--big-font);
    color: var(--secondary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.remove-btn:hover {
    background-color: var(--red-color-light);
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.237);
    
}


.add-task{

    align-items: center;
    padding: 2rem;
    width: 100rem;
    margin: 5rem auto;
    border: 2px solid var(--primary-color-darker);
    border-radius: 10px;
    box-shadow: 0 2px 30px 5px var(--primary-color-darker);

    font-size: var(--medium-font);
    margin-bottom: 2rem;
    justify-content: center;
    gap: 2rem;
}

.add-task.show {
    /* display: block; */
    display: flex;
    pointer-events: auto;
    visibility: visible;
}

.add-task {
    display: none;
    pointer-events: none;
    visibility: hidden;
}

.add-task input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.add-task button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    color: var(--secondary-color-light);
    cursor: pointer;
}

.add-task button:first-of-type {
    margin-left: auto;
}

.btn-confirm-task {
    background-color: var(--green-color);
    border: 1px solid var(--green-color-dark)
}

.btn-confirm-task:hover {
    background-color: var(--green-color-dark);
}

.btn-cancel-task {
    background-color: var(--red-color);
    border: 1px solid var(--red-color-dark)
}

.btn-cancel-task:hover {
    background-color: var(--red-color-dark);
}

/* .text-inputs {
    display: flex;
    flex-direction: column;
} */

.btn-wrapper {
    width: 20rem;
    margin: 5rem auto;
}


.btn-add-task {
    padding: 1rem 3rem;
    font-size: var(--medium-font);
    color: var(--secondary-color);
}

.btn-add-task:hover {
    background-color: var(--primary-color-darker);
}




/* footer */
.footer {
    height: 5rem;
    grid-row: 3/-1;
    grid-column: 1/-1;


    display: flex;
    justify-content: center;
    align-items: center; 

    background-color: var(--primary-color);
}

.footer p {
color: var(--secondary-color-lighter);
  font-size: 2rem;
  transition: 0.3s all;
}

.footer p:hover {
  color: var(--third-color)
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}